* {
    font-family: 'Poppins';
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 44px 0px 100px 42px;

}

.Menu-top {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;  
    color: #17233D;
    cursor: pointer;
    margin-right: 36px;
}

.Button-Wide {
    background: #6FBF44;
    border: 1px solid #4CB538;
    border-radius: 6px;
    width: 124px;
    height: 51px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
}

main {
    display: inline-block;
    margin-left: 20px;
    margin-top: 10px;
}

.Logo-image {
    margin-left: 0px;
    width: 550px;
    height: 400px;
    
}

div{
    display: inline-block;
}
h1 {
    font-weight: 700;
    font-size: 62px;
    line-height: 82px;  
    color: #161A49;
    width: 582px;
    display: inline-block;
    
}

p {
    font-weight: 400;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    width: 493px;
    
            
}

.Button-Learn {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #6FBF44;
    border: none;
    background: #FFFFFF;
    cursor: pointer;
    Width: 112px;
    
}